  <% @reservations.each do |reservation| %>
    <div class="card-product">
      <div class="card-product-infos">
        <div class="card-info-header d-flex justify-content-between align-items-center">
          <h2 class="mr-2"><span class="pink-2"><%= reservation.studio.name %></span></h2>
          <p>at <%= reservation.studio.address %></p>
        </div>
        <p>from: <span class="date"><%= reservation.start_on.to_formatted_s(:long_ordinal) %></span></p>
        <p>to: <span class="date"><%= reservation.end_on.to_formatted_s(:long_ordinal) %></span></p>
        <p>Status:
            <span>
              <% if reservation.approved.nil? %>
                <span class="panding">Pending</span>
              <% elsif reservation.approved %>
                <span class="approved">Approved</span>
              <% else %>
                <span class="declined">Declined</span>
              <% end %>
            </span>
          </p>
      </div>
    </div>
  <% end %>
