<div class = 'dash_top'>
  <div class = 'title'>
    <h1>Hello <span class="pink"><%= current_user.name %></span>, we love you.</h1>
  </div>

  <div class="tabs">
    <%= link_to "My studios", dashboards_path(page: 'studios') %>
    <%= link_to "My reservations", dashboards_path(page: 'reservations') %>
  </div>

  <div class="rendered">
    <%= render "#{params[:page]}.html.erb" %>
  </div>

</div>
