<div class = 'dash_top'>
  <div class = 'title'>
    <h1>Hello <span class="pink"><%= current_user.name %></span>, we love you.</h1>
  </div>
  <div class="display" data-controller="display">
    <div class="lisener" data-action="click=>display#render">My studios</div>
    <div class="lisener">Your reservations</div>

    <div data-display-target="canvas">
      <%= render 'reservations.html.erb' %>
    </div>
  </div>
</div>
<br>
