.card-product {
  overflow: hidden;
  min-height: 80px;
  min-width: 370px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 1em ;



  .declined {
    color: rgba(red, 0.8);
  }

  .approved {
    color: rgba(green, 0.8);
  }

  .panding {
    color: rgba(rgb(107, 107, 0), 1);
  }


}

.card-product .card-info-header  p {
    margin: 0;
    font-size: 0.9em;

  }

.card-product img {
  height: 100%;

  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 100%;

  .status span {
    font-weight: bold;
  }
}
