.tag {
  font-size: 0.7rem;
  font-weight: bold;
  border: 0.5px solid currentColor;
  border-radius: 100vh;
  padding: 0.3em 0.5em;

  &.approved {
    color: green;


  }

  &.declined {
    color: red;


  }

}
