// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';


// Your CSS partials
@import "components/index";
@import "components/card-product";
@import "components/card-grid";
@import "components/button";
@import "components/tag";
@import "components/show-card";
@import "pages/index";

@import "pages/dashboard";

@import "pages/dashboard_studios";

@import "studios/index";
@import "studios/new";
@import "studios/reservations";
@import "components/card";
@import "components/container";
@import "components/index-container-headline";
@import "components/footer";
@import "components/banner";
