<h1>Studio Index / Homepage</h1>

<% @studios.each do |studio| %>
<div class="card">
<h3><%= studio.name %></h3>
<h4><%= studio.location%></h4>
<p><%= studio.description %></p>
<%= link_to 'Check out this studio now!', studio_path(studio) %>
</div>
<% end %>

